<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>用户基本信息管理</title>
    <div th:replace="head"></div>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    
        <section class="content-header">
            <h1>用户基本信息管理<small>V1.0</small></h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">修改密码</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label">新密码</label>
                                    <div class="col-sm-2">
                                        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="长度为4-18"
                                               required="required" minlength="4" maxlength="18"/>
                                    </div>
                                    <div class="col-sm-2"><span class="password-info"></span></div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword2" class="col-sm-2 control-label">确认新密码</label>
                                    <div class="col-sm-2">
                                        <input type="password" class="form-control" id="inputPassword2" placeholder="长度为4-18" required="required" minlength="4" maxlength="18"/>
                                    </div>
                                    <div class="col-sm-2"><span class="password-info"></span></div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                            	<div class="form-group">
								    <div class="col-sm-offset-2 col-sm-2">
		                              <button name="changePass" type="button" th:data="${api}" class="btn btn-info">保存</button>
		                              <span class="text-green"></span>
								    </div>
								</div>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->

                </div>
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="footer"></div>
</div>
<!-- ./wrapper -->
<div th:replace="script"></div>

<script>
/*<![CDATA[*/
	$(function(){
        $("#inputPassword").change(function(){
            var num = $(this).val().length;
			//使用 /*<![CDATA[*/ 方式解决JS代码中的 < > 被错误解析为标签，或者将JS代码写到单独文件中去
            if (num < 4 || num > 18) {
                $(this).parent().parent().find("span.password-info").removeClass("text-green").addClass("text-red").text("密码长度不符合要求");
            } else {
                $(this).parent().parent().find("span.password-info").removeClass("text-red").addClass("text-green").text("输入正确");
            }
        });
        $("#inputPassword2").change(function(){
        	var pass = $("#inputPassword").val();
        	var num = pass.length;
        	if (num < 4 || num > 18) {
                $(this).parent().parent().find("span.password-info").removeClass("text-green").addClass("text-red").text("请先正确输入新密码");
        	} else if ($(this).val() != pass) {
                $(this).parent().parent().find("span.password-info").removeClass("text-green").addClass("text-red").text("两次输入密码不相同");
        	} else {
                $(this).parent().parent().find("span.password-info").removeClass("text-red").addClass("text-green").text("输入正确");
        	}
        });
        $("button[name='changePass']").click(function(){
        	var $this = $(this);
            var pass = $("#inputPassword").val();
        	if (pass == $("#inputPassword2").val()) {
            	$.ajax({
                    type:"post",
                    url:$this.attr("data"),
                    data:"password=" + pass,
                    success:function (data, textStatus, jqXHR) {
                    	var $span = $this.parent().find("span");
                    	$span.text("密码修改成功");
                    	$("span.password-info").empty();
                    	$("#inputPassword").val('');
                    	$("#inputPassword2").val('');
                    	$span.delay(2000).hide(0);
                    },
                    error:function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            }        	
        });
    });
/*]]>*/
</script>

</body>
</html>