<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>您访问的页面不存在</title>
<div th:replace="head"></div>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">
	<div class="wrapper">
		<!-- Full Width Column -->
		<div class="content-wrapper">
			<div class="container">
				<br /> <br /> <br /> <br /> <br /> <br />
				<section class="content">
					<div class="error-page">
						<h2 class="headline text-yellow">404</h2>
							<br />
						<div class="error-content">
							<h3>
								<i class="fa fa-warning text-yellow"></i> 糟糕！网页走丢了。
							</h3>
							<br />
							<p>
								无法找到您访问的页面。试一试回到 <a href="/">首页</a>。
							</p>
						</div>
						<!-- /.error-content -->
					</div>
					<!-- /.error-page -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.content-wrapper -->
		<div th:replace="footer"></div>
	</div>
	<!-- ./wrapper -->
	<div th:replace="script"></div>
</body>
</html>
