<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>首页</title>
	<div th:replace="head"></div>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    	
    	<!-- Content Header (Page header) -->
	    <section class="content-header">
	      <h1>研究生复试成绩管理系统<small>V1.0</small></h1>
    	</section>
    
        <!-- Main content -->
        <section class="content">
        
        <!-- 对管理员显示 -->
        <div sec:authorize="hasRole(T(springboot.security.RoleConstants).ADMIN)" class="box">
            <div class="box-body">
               <div class="callout callout-success">
	                <h4><i class="fa fa-info"></i> 管理员，您好</h4>
	                <p>研究生复试成绩管理系统。</p>
               </div>
            </div>
            <div class="box-footer">
               <button type="button" name="initAllItems" th:data="@{/manager/comp-inte-sco-items/initAll}" class="btn btn-danger btn-sm">初始化打分单</button>
               <button type="button" name="initPartItems" th:data="@{/manager/comp-inte-sco-items/initPart}" class="btn btn-danger btn-sm">调整打分单</button>
               <button name="generateAll" th:data="@{/students/score/generateAll}" type="button" class="btn btn-danger btn-sm">计算成绩</button>
               <br/><br/>
               <button type="button" name="randomItemScore" th:data="@{/manager/comp-inte-sco-items/randomScore}" class="btn btn-danger btn-sm">随机打分测试</button>
            </div>
            <!-- /.box-footer-->
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay" style="display: none">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
        </div>
        
        
        
        <!-- Default box -->
        <!-- 对评分教师显示 -->
	      <div sec:authorize="hasRole(T(springboot.security.RoleConstants).USER)" class="box">
	        <div class="box-header with-border">
		      <div class="callout callout-info">
		        <h4><i class="fa fa-info"></i> 评分须知</h4>
		        <p>请各位评分教师在进行研究生复试专业综合面试成绩评分前仔细阅读以下内容。</p>
		      </div>
	        </div>
	        <div class="box-body">
	           <p>
	               1. 注意事项1...<br/>
	               2. 注意事项2...
	           </p>
	        </div>
	        <!-- /.box-body -->
	        <div class="box-footer">
	           <button sec:authorize="principal.agreed == false" type="button" name="agree" th:data="@{/users/teacher/agree}" class="btn btn-danger">我已阅读，点击同意</button>
	           <button sec:authorize="principal.agreed == true" type="button" class="btn btn-success" disabled="disabled">已同意</button>
	        </div>
	        <!-- /.box-footer-->
	      </div>
	      <!-- /.box -->
        
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="footer"></div>
</div>

<div th:replace="script"></div>

<script type="text/javascript">

    $(function(){
    	
    	$("button[name='initAllItems']").click(function () {
            if(confirm("确认初始化打分单?(删除原有打分记录并重新生成打分单)")){
                $.ajax({
                    type:"post",
                    url:$(this).attr("data"),
                    beforeSend:function(){
                        $(".overlay").show();
                    },
                    success:function (data, textStatus, jqXHR) {
                        alert("初始化成功！");
                    },
                    error:function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("初始化失败！");
                    },
                    complete:function(){
                        $(".overlay").hide();
                    }
                })
            }
        });
    	
    	$("button[name='initPartItems']").click(function () {
            if(confirm("确认调整打分单?(保留原有打分记录并调整打分单)")){
                $.ajax({
                    type:"post",
                    url:$(this).attr("data"),
                    beforeSend:function(){
                        $(".overlay").show();
                    },
                    success:function (data, textStatus, jqXHR) {
                        alert("调整成功！");
                    },
                    error:function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("调整失败！");
                    },
                    complete:function(){
                        $(".overlay").hide();
                    }
                })
            }
        });
    	
    	$("button[name='randomItemScore']").click(function () {
            if(confirm("确认随机打分测试？(随机生成分数)")){
                $.ajax({
                    type:"post",
                    url:$(this).attr("data"),
                    beforeSend:function(){
                        $(".overlay").show();
                    },
                    success:function (data, textStatus, jqXHR) {
                        alert("随机打分成功！");
                    },
                    error:function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("随机打分失败！");
                    },
                    complete:function(){
                        $(".overlay").hide();
                    }
                })
            }
        });
    	
    	$("button[name='agree']").click(function () {
    		$.ajax({
    			type:"post",
                url:$(this).attr("data"),
                success:function (data, textStatus, jqXHR) {
                    window.location.reload();
                },
                error:function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("操作失败！");
                }
    		});
    	});
    	
    	$("button[name='generateAll']").click(function () {
            if(confirm("确认进行成绩计算？")){
                $.ajax({
                    type:"post",
                    url:$(this).attr("data"),
                    beforeSend:function(){
                        $(".overlay").show();
                    },
                    success:function (data, textStatus, jqXHR) {
                        alert("计算完成！");
                        window.location.reload();
                    },
                    error:function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("计算失败！");
                    },
                    complete:function(){
                        $(".overlay").hide();
                    }
                })
            }
        });
    	
    });

</script>

</body>
</html>