<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>复试成绩管理系统 | 登录</title>
	<div th:replace="head"></div>
	<script type="text/javascript">
		$(function() {
			//Gif验证码
			$("#Imga").click(function() {
				var path = "/gifCaptcha?" + new Date().getTime();
				//中间将src置空是为了解决火狐浏览器点击两下后变为静态显示问题
				$("#captcha").attr("src", "").attr("src", path);
			});
		});
	</script>
</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <b>复试成绩管理系统</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        
        <form th:action="@{/login}" method="post">
            <p th:if="${param.logout}" class="login-box-msg text-red">已退出登录</p>
            <p th:if="${param.error}" class="login-box-msg text-red">登录失败</p>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="用户名" name="username" required="required"/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="密码" name="password" required="required"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
            	<!-- 
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox" name="remember-me"/> 记住密码
                        </label>
                    </div>
                </div>
            	 -->
                <!-- /.col -->
                <!-- 
				<div class="form-group">
					gif动态验证码：
					<a href="javascript:void(0);" id="Imga">
						<img id="captcha" src="/gifCaptcha" alt="验证码" />
					</a>
				</div>
				 -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                </div>
                    
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<div th:replace="script"></div>
</body>
</html>