<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="head"></div>
    <title>考生基本信息管理</title>
</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    
        <section class="content-header">
            <h1>考生基本信息管理<small>V1.0</small></h1>
        </section>
        
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box box-info">
                        <div class="box-header with-border">
                        	<h3 class="box-title">考生列表</h3>
                        	<div class="box-tools pull-right">
	                        	<a th:href="@{/students/info/form}" class="btn btn-warning btn-sm">
	                               <span class="glyphicon glyphicon-plus"></span>&nbsp;添加
	                        	</a>
	                        	<button th:onclick="|javascript:$('#modal-default').modal('show');|" type="button" class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-upload"></span>&nbsp;Excel导入
                                </button>
                                <button type="button" name="initPartItems" th:data="@{/manager/comp-inte-sco-items/initPart}" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-repeat"></span>&nbsp;调整打分单
                                </button>
						    </div><!-- /.box-tools -->
                        </div>

                        <div class="box-body">
                            <table id="dataTable" class="table table-bordered table-striped table-hover">
                                <thead>
                                <tr>
                                	<th>组号</th>
                                    <th>姓名</th>
                                    <th>本科院校</th>
                                    <th>第一导师</th>
                                    <th>第二导师</th>
                                    <th>联系方式</th>
                                    <th>家庭住址</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item:${stuList}">
                                	<td th:text="${item.groupNo}"></td>
                                    <td th:text="${item.fullname}"></td>
                                    <td th:text="${item.graduatedCollege}"></td>
                                    <td th:text="${item.firstTutor}"></td>
                                    <td th:text="${item.secondTutor}"></td>
                                    <td th:text="${item.telephone}"></td>
                                    <td th:text="${item.homeAddress}"></td>
                                    <td>
                                        <a th:href="@{/students/info/{id}/form(id=${item.id})}" class="btn btn-primary btn-xs">
                                            <span class="glyphicon glyphicon-edit"></span>&nbsp;编辑
                                        </a>
                                        <button type="button" name="trash" th:data="@{/students/info/{id}/delete(id=${item.id})}" class="btn btn-danger btn-xs">
                                        	<span class="glyphicon glyphicon-trash"></span>&nbsp;删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <!-- Loading (remove the following to stop the loading)-->
			            <div class="overlay" style="display: none">
			                <i class="fa fa-refresh fa-spin"></i>
			            </div>
			            <!-- end loading -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            
            
            <!-- 上传文件modal -->
            <div class="modal fade" data-backdrop="static" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" style="border-radius:5px;">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">考生信息Excel导入</h4>
                  </div>
                  <form id="importExcel" class="form-horizontal" enctype="multipart/form-data" th:action="@{/students/info/importExcel}" method="post">
	                  <div class="modal-body">
	                    <div class="row">
	                        <div class="col-md-12">
	                            <div class="form-group">
	                                <label class="col-md-3 control-label">考生信息模板：</label>
	                                <div class="col-md-3">
	                                    <p class="form-control-static">
	                                        <a th:href="@{/students/info/excelTemplate}" class="btn btn-success btn-xs">
	                                            <span class="glyphicon glyphicon-download-alt"></span>&nbsp;点击下载
	                                        </a>
	                                    </p>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label class="col-md-3 control-label">上传文件：</label>
	                                <div class="col-md-3">
	                                    <input type="file" name="file"/>
	                                    
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                  </div>
	                  <div class="modal-footer">
	                    <span id="uploadIcon"></span>
	                    <button type="submit" class="btn btn-primary">上传</button>
	                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	                  </div>
                  </form>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    
    <div th:replace="footer"></div>

</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "scrollX": true,
            "columnDefs": [
            	{ "orderable": false, "targets": [7] }
            ],
            "language": {
                "url": "/i18n/dataTables/zh_CN.json"
            }
        });
        
        ajaxClick('trash','DELETE','删除','(将会删除该考生所有成绩)');
        
        $("button[name='initPartItems']").click(function () {
            if(confirm("确认调整打分单?(保留原有打分记录并调整打分单)")){
                $.ajax({
                    type:"post",
                    url:$(this).attr("data"),
                    beforeSend:function(){
                        $(".overlay").show();
                    },
                    success:function (data, textStatus, jqXHR) {
                        alert("调整成功！");
                    },
                    error:function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("调整失败！");
                    },
                    complete:function(){
                        $(".overlay").hide();
                    }
                })
            }
        });
        
        $("#importExcel").ajaxForm({
        	beforeSubmit: function() {
        		$("#uploadIcon").html('<i class="fa fa-spinner fa-pulse fa-fw"></i><span class="text-muted">正在上传...</span>');
        	},
        	success: function(responseText, statusText, xhr){
        		alert(responseText.data);
        		window.location.reload();
        	},
        	error: function(response, statusText){
        		alert(response.responseJSON.errorMessage);
        	},
        	complete: function() {
        		$("#uploadIcon").empty();
        	}
        });
        
        
    });

</script>
</body>
</html>